/* Google font poppins */
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

/* btn-primary */
.panda-btn {
  border-radius: 6px;
  background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);
  padding: 16px 28px;
  border: none;
  color: white;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* header section */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.Search-parent {
  position: relative;
  color: #BABABA;
}

.Search-parent input {
  background-color: rgb(241, 241, 241);
  border-radius: 66px;
  padding: 15px 30px;
  width: 500px;
  border: none;

}

.Search-parent i {
  position: absolute;
  right: 10px;
  top: 18px;
}


.nav-items {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-items li>a {
  text-decoration: none;
  color: #707070;
  font-size: 16px;
  font-weight: 500;
}


/* Banner section */
.banner {
  background-color: rgb(254, 234, 233);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 28px;
  border-radius: 10px;
  margin-top: 30px;
}

.banner img {
  width: 402px;
  height: 378px;
}

.banner h2 {
  font-size: 56px;
  font-weight: 700;
}

.banner p {
  font-size: 16px;
  font-weight: 400;
  color: #110808;
  max-width: 556px;
}

.banner-price {
  font-size: 41px;
  font-weight: 500;
  color: #FF136F;
  display: block;
  margin-bottom: 0;
}

/* Category-styles */
.categories-card-container {
  display: flex;
  gap: 26px;
  width: 100%;
}


.category {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.category-card h3 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.common-section-title {
  font-weight: 500;
  font-size: 36px;
}

.category-1 {
  background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%, rgb(255, 208, 25) 84.486%);
}

.category-2 {
  /* Linear */
  background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%, rgb(255, 19, 111) 99.994%);
}

.category-3 {
  background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%, rgb(63, 7, 248) 74.29%);
}


/* Shoes and Back section */
.shoes-backpack-item-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shoes-backpack-item-parent p {
  color: #FF9D00;
  font-size: 20px;
  font-weight: 500;
}

.shoes-backpack-parent {
  background: rgb(244, 244, 244);
}

.shoes-section {
  background-color: #F4F4F4;
  padding: 50px 0;
}

.shoes-card-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.shoes-card {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
}

.shoes-card img {
  width: 356px;
  height: 202px;
}

.shoes-card .panda-btn {
  background: black;
}

.shoes-price {
  display: block;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 12px;
}









/* Mobile device responsive */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }

  .Search-parent input {
    display: none;
  }

  .nav-items {
    display: none;
  }

  .Search-parent i {
    display: none;
  }

  .panda-logo img {
    /* width: 300px; */
    padding-right: 20px;
  }

  /* Banner */
  .banner {
    flex-direction: column-reverse;
    background-color: white;
  }

  /* category */
  .categories-card-container {
    flex-direction: column;
  }

  /* Shoes and backpack */
  .shoes-backpack-item-parent , .shoes-card-container{
       flex-direction: column;
  }
}




/* Tablet device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-items {
    display: none;
  }

  .Search-parent {
    padding-right: 50px;
  }

  .Search-parent i {
    display: none;
  }

}